html,
body {
    font-family: Helvetica, sans-serif;
    min-width: 260px;

}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: pink;
    padding: 26px 21px;
    height: 84px;
    display: block;
    background: white;
}
/* контейнер */
.container {
    margin: 0 auto;
    display:flex;
    max-width: 1025px;
}

/* меню */
.menu-main {
    font-size: 13px;
    font-family: "OpenSans";
    list-style: none;
    text-align: center;
    margin:0 auto;
   
   
}

.menu-main ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    display: inline-block;
    text-decoration: none;
    color: rgba(102, 102, 102, 0.671);
   
}

/* Логотип */
.navbar-logo {
    width: 215.25px;
    height: 29px;
    display:block;
}

/* кнопка LOGIN */
.nav-btn {
    font-size: 13px;
    font-family: "OpenSans";
    color: rgba(255, 255, 255, 0.812);
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(112, 113, 115);
    background-color: rgb(173, 209, 54);
    opacity: 0.812;
    width: 98px;
    height: 35px;
    padding:0 auto;
display: block;
}

.shape {
    width: 58px;
    height: 58px;
    
}

h1 {
    font-size: 31px;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 1.603;
  text-align: center;
}

p {
font-size: 19px;
  font-family: "Myriad Pro";
  color: rgba(81, 81, 81, 0.71);
  line-height: 1.2;
  text-align: center;
}

.section-first{
display: inline;
text-align: center;
}

.find{
display:flex;
flex-direction: row;
}

.properties{
    background-color: #e2f8ff;
    display:flex;
    flex-direction: row;
    padding-left: 136px;
   
}

.buyers{
    background-color: #f5f9eb;
    display:flex;
    flex-direction: row;
   padding-right: 123px;
}

.find h2  {
font-size: 23px;
  font-family: "Montserrat";
  color: rgb(81, 81, 81);
  line-height: 1.2;
  text-align: center;
}

.buy-btn {
    font-size: 19px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-radius: 8px;
  background-color: rgb(173, 209, 54);
  width: 187px;
  height: 51px;

}

.prop-btn {
    font-size: 19px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border-radius: 8px;
  background-color: rgb(38, 166, 209);
  width: 187px;
  height: 51px;
 
}

.money {
height: 95px;
width: 100px;
}

.sofa {
    height: 115px;
    width: 120px; 
}

.slider img {
  min-width: 100%;
    height: 570px;
}

/* вкладки */
/* Базовый контейнер табов */
.tabs {
	width: 100%;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>h2 {
color: #add136;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #606060;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display:none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #656565;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f004";
}
.tabs>label[for*="2"]:before {
	content: "\f1b9";
}
.tabs>label[for*="3"]:before {
	content: "\f0f5";
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}